{% include 'recipes/partials/head.html'%}

<body>
    {% include 'recipes/partials/_header.html'%}
    {% include 'recipes/partials/_searchbar.html'%}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {%include 'recipes/partials/_recipes.html'%}
            {%include 'recipes/partials/_recipes.html'%}
            {%include 'recipes/partials/_recipes.html'%}
            {%include 'recipes/partials/_recipes.html'%}
            {%include 'recipes/partials/_recipes.html'%}
            {%include 'recipes/partials/_recipes.html'%}
        </div>
    </main>

    {% include 'recipes/partials/_footer.html'%}




</body>

</html>